@media (min-width: 600px) {
    .navigation_liste {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .article_one_column {
        max-width: 550px;
    }
    .article_two_column {
        max-width: 550px;
    }
    .article_three_column {
        max-width: 550px;
    }
    .article_great_picture {
        max-width: 550px;
    }
    .card {
        height: 253px;
        width: 200px;
    }
    .card_legend {
        margin-top: 100px;
    }

    .footer_liste {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
